html {
    height: 100%;
  }
  
  body {
    margin: 0;
    height: 100%;
    font-family: helvetica;
    font-size: 50px
  }
  
  a {
    color: ;
  }
  
  header {
    padding: 50px;
    background: ;
    color: ;
    text-align: center;
    background-color:skyblue
  }
  
  nav {
    width: 400px;
    height: 100%;
    float: left; /* don't modify */
    background-color: ;
    margin-right: 20px;
    background-color: white
  
  }
  
  nav ul {
    list-style: none;
    font-size: 30px
  }
  
  nav ul li {
    margin-bottom: 10px;
  }
  
  section {
    width: 1000px
    float: left; /* don't modify */
    padding: 5px;
    font-size: 30px
  }

  #last {
    color:pink;
  }
  
  footer {
    clear: left; /* don't modify */
    padding: 10px;
    background: ;
    text-align: center;
    font-size: 20px
  }